<mat-toolbar>
  <span>User Dashboard</span>
</mat-toolbar>
<div class="container p-3 mt-4">
  <div class="row d-flex align-items-center">
    <ng-container *ngIf="loading; else showTable">
      <div class="d-flex justify-content-center align-items-center spin-container">
        <mat-spinner [diameter]="30"></mat-spinner>
      </div>
    </ng-container>
    <ng-template #showTable>
      <div class="col-lg-6 col-12">
        <div class="d-flex justify-content-between">
          <div>
            <h2 class="mt-3">Users</h2>
          </div>
          <mat-form-field class="mt-2 small-mat-field">
            <mat-label>Search a user</mat-label>
            <input type="text" [formControl]="searchUser" matInput>
          </mat-form-field>
        </div>
        <app-user-dashboard [users]="users"></app-user-dashboard>
      </div>
      <div class="col-lg-6 col-12">
        <app-role-distribution-chart [rolesData]="rolesData"></app-role-distribution-chart>
      </div>
    </ng-template>
  </div>
</div>
